// Place all the styles related to the Components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#component {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
